[submodule "utils/dls2sf/lib/sf2cute"]
	path = utils/dls2sf/lib/sf2cute
	url = https://github.com/gocha/sf2cute.git
[submodule "utils/dls2sf/lib/adpcm-xq"]
	path = utils/dls2sf/lib/adpcm-xq
	url = https://github.com/dbry/adpcm-xq
